extends layout

block content
  h1= title
  ul
    li
      a(href='http://localhost:3000/productlist') Product List
    li  
      a(href='http://localhost:3000/newproduct') Add Product
    li  
      a(href='http://localhost:3000/findproduct') Update/Delete Product