doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="container")
      div(id="header")
        div(id="logo")
          div(id="images")
            img(src="images/mg.jpg",width="300",height="100",alt="Logo")
        div(id="tagline")
          h1 Customized mirror and glass to enhance your surroundings
      div(id="main")
        block content