extends layout

block content
	h1= title
	p product: #{outputproduct}
	p details: #{outputdetails}
	form#formEditProduct(name="editproduct", method="post", action="/updateproduct")
		input#inputUserEmail(type="text", placeholder="product details", name="proddetails")
		button#btnSubmit(type="submit") update
	form#formDeleteProduct(name="deleteproduct", method="post", action="/deleteproduct")
		button#btnSubmit(type="submit") delete